.title {
    display: flex;
    justify-content: space-between; 
  align-items: center;
}

.title img {
    height: 100px;
    width: 100px;
}

* {
    font-family: "Comic Sans MS", "Comic Sans", cursive;
}

.text-with-inputs {
       display: flex;
    justify-content: space-between; 
  align-items: start;
    gap: 20px;
    margin-bottom: 20px;
}

.inputs {
  width: 50%;
  display: block;
  padding-top: 20px;;
}

.paragraphs {
        font-size: 20px;
   width: 50%;
   display: block;
}

.inputs input {
    font-size: 20px;
  width: 100%;
  border: none;                 
  border-bottom: 1px solid #000; 
  outline: none;                
  padding: 5px 0;
  margin-bottom: 15px;
  box-sizing: border-box;
  background: transparent;
}

.button {
    display: flex;
    justify-content: center;
}
button {
    font-size: 20px;
    border: none;
    border-radius: 0px;
    padding-bottom: 10px;
    background-color:darkgrey
}